$font-primary: verdana,sans-serif,arial;
$font-size-primary: 16px;
$font-color-primary: rgba(0,0,0,1.0);
$font-weight-primary:500px;


$cor-primaria: rgba(50,153,204,1.0);
$cor-sucesso: rgba(35,142,35,1.0);
$cor-informativo: rgba(219,112,147,1.0);
$cor-aviso: rgba(255,165,0,1.0);
$cor-perigo: rgba(255,0,0,1.0);

$cor-visitado:rgba(142, 68, 173,1.0);
$cor-hover:darken($cor-primaria,30);