// cores paineis (Anderson, Rogério)
$painel-default: lighten(#95a5a6,20); 
$painel-primary: #2980b9; 
$painel-sucess: lighten(#27ae60,15); 
$painel-warning: lighten(#f1c40f,14); 
$painel-error: #e74c3c; 
$painel-info: lighten(#3498db, 10);
$borda-inferior: 0 0 5px 5px;
$borda-superior: 5px 5px 0 0;

$titulo-default: black; 
$titulo-primary: darken(#2980b9,30);
 $titulo-sucess: darken(#27ae60,30); 
 $titulo-warning: darken(#f1c40f,30); 
 $titulo-error: darken(#e74c3c,30); 
 $titulo-info: darken(#3498db, 30);


//#######################################################
