$botao-normal: $color-primary;
$botao-normal-hover: rgba(120, 50, 150,1.0);
$botao-normal-active: rgba(100, 30, 120, 1.0);

$botao-sucesso: $color-success;
$botao-sucesso-hover: rgba(16, 174, 83, 1.0);

$botao-erro: $color-error;
$botao-erro-hover: rgba(201, 46, 20, 1.0);

$botao-desativado: $color-gray;