.cantos{
	@include border-radius($border-radius);
    @include box-shadow(0 0 7px $menu-shadow);
}
.margem-painel{
	margin-bottom: 20px;
}
p{
	white-space: nowrap;
	width: 100%;
	//text-overflow: ellipsis;
	//overflow: hidden;
	text-align: justify;
	hyphens:  auto;
}

.painel{
	list-style: none;
	padding: 10px 10px 10px 10px;
    border: 1px solid $painel-default;
	border-radius: 5px 5px 0 0;
	

	&-default{
		color: $titulo-default;
		background: $painel-default;
		border-color: $painel-default;
	}
	&-sucess{
		color: $titulo-sucess;
			border-color: $painel-sucess;
		background: $painel-sucess;
	}
	&-warning{
		color: $titulo-warning;
		border-color: $painel-warning;
		background: $painel-warning;
	}
	&-error{
		color: $titulo-error;
		border-color: $painel-error;
	background: $painel-error;
	}
	&-info{
		color: $titulo-info;
		border-color: $painel-info;
	background: $painel-info;
	}
	&-primary{
		color: $titulo-primary;
		border-color: $painel-primary;
	background: $painel-primary;
	}
	&-footer{
		background: $painel-default;	
	}
	&-heading{
			font-size: 14px;
			background: $painel-default;
	}
	&-title{
	}
	&-body{
		
		padding: 10px;
		margin-bottom: 20px;
		border: 2px solid $painel-default;
		border-radius: 0px 0px 5px 5px ;

	}
}